@use '../../styles/breakpoints';

.squareButton {
  width: 82px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F9C06A;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  overflow: hidden;
  
  &:hover {
    background: #dc9e42;
    color: #ffffff;
  }

  @include breakpoints.respond('small-phone') {
    width: 60px;
    height: 60px;
  }
}