@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets//fonts/PlayfairDisplay-BlackItalic.ttf');
  font-style: italic;
  font-weight: 900;
}
